.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.topbar{
  background-color: aquamarine;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
  padding: 01rem;

}
.topbar ul {
padding: 0;
margin: 0;
list-style: none;
display: flex;
gap: 1rem ;

}
.topbar li:hover{
  background-color: antiquewhite;
}

.topbar li.active{
  background-color: antiquewhite;
}
